Repository ansys/pyturbogrid, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

Update multi_blade_row_example.py
  examples/multi_blade_row_example.py
Labels: none

Update multi_blade_row_example.py
  examples/multi_blade_row_example.py
Labels: none

Revert file rename that was done my mistake
  examples/report_template.html
Labels: none

Review changes to refactor
  examples/multi_blade_row_example.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

pre-commit check
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Update multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Update multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Update multi_blade_row_example.py
  examples/multi_blade_row_example.py
Labels: none

Update multi_blade_row_example.py
  examples/multi_blade_row_example.py
Labels: none

Update multi_blade_row_example.py
  examples/multi_blade_row_example.py
Labels: none

Update documentation
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Documentation and coding style
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Add ndf parser and multi blade row modules with an example (#79)
  doc/source/api_reference/index.rst
  doc/source/api_reference/multi_blade_row.rst
  doc/source/api_reference/ndf_parser.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/multi_blade_row_example.py
  pyproject.toml
  src/ansys/turbogrid/core/launcher/launcher.py
  src/ansys/turbogrid/core/multi_blade_row/__init__.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/report_template.html
  src/ansys/turbogrid/core/multi_blade_row/summary_template.html
  src/ansys/turbogrid/core/ndf_parser/__init__.py
  src/ansys/turbogrid/core/ndf_parser/ndf_parser.py
Labels: documentation, maintenance, dependencies

Update multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Update one docstring in multi_blade_row.py (#80)
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Upgrade ansys sphinx
  pyproject.toml
Labels: maintenance, dependencies

Update dependabot.yml
  .github/dependabot.yml
Labels: maintenance

Update dependabot.yml with and without registries (#82)
  .github/dependabot.yml
Labels: maintenance

fix: dependabot changes
  .github/dependabot.yml
Labels: maintenance

fix: remove dependabot registry (#83)
  .github/dependabot.yml
Labels: maintenance

fix: dependabot changes
  .github/dependabot.yml
Labels: maintenance

fix: dependabot changes (#84)
  .github/dependabot.yml
Labels: maintenance

fix:change the read token
  pyproject.toml
Labels: maintenance, dependencies

Fix: remove poetry options from the toml file (#85)
  pyproject.toml
Labels: maintenance, dependencies

fix: remove the private PYPI
  .github/workflows/ci.yml
Labels: maintenance

Upgrade ansys sphinx (#81)
  pyproject.toml
Labels: maintenance, dependencies

Update pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

Upgrade Sphinx to 7.2.6
  pyproject.toml
Labels: maintenance, dependencies

Upgrade Sphinx to 7.2.6 (#93)
  pyproject.toml
Labels: maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- pyproject.toml
testing:
- tests/*
