Repository ansys/pyturbogrid, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- pyproject.toml
testing:
- tests/*

feat: updating badges from PyPI
  README.rst
Labels: none

feat: updating badges from PyPI (#71)
  README.rst
Labels: none

Support release 24.1
  src/ansys/turbogrid/core/launcher/launcher.py
  tests/test_launcher.py
Labels: testing

Support release 24.1 (#72)
  src/ansys/turbogrid/core/launcher/launcher.py
  tests/test_launcher.py
Labels: testing

Minor fixes for the doc and examples
  README.rst
  examples/mesh_statistics_report.py
Labels: none

Minor fixes for the doc and examples (#73)
  README.rst
  examples/mesh_statistics_report.py
Labels: none

bring up to date with API 0.4
  pyproject.toml
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: maintenance, dependencies

update version requirement
  pyproject.toml
Labels: maintenance, dependencies

update doc strings
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: none

doc
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: none

bring up to date with API 0.4 (#75)
  pyproject.toml
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: maintenance, dependencies

Update conf.py
  doc/source/conf.py
Labels: documentation

Update conf.py
  doc/source/conf.py
Labels: documentation

Update conf.py (#77)
  doc/source/conf.py
Labels: documentation

initial commit
  src/ansys/turbogrid/core/ndf_parser/__init__.py
  src/ansys/turbogrid/core/ndf_parser/ndf_parser.py
Labels: none

Update ndf_parser.py
  src/ansys/turbogrid/core/ndf_parser/ndf_parser.py
Labels: none

ndf_parser updates
  doc/source/api_reference/index.rst
  doc/source/api_reference/ndf_parser.rst
  src/ansys/turbogrid/core/ndf_parser/ndf_parser.py
Labels: documentation

multi_blade_row initial commit
  src/ansys/turbogrid/core/multi_blade_row/__init__.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
  src/ansys/turbogrid/core/ndf_parser/ndf_parser.py
Labels: none

First working version
  examples/multi_blade_row_example.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/report_template.htmp
  src/ansys/turbogrid/core/multi_blade_row/summary_template.htmp
Labels: none

update in progress
  doc/source/_static/multi_blade_row_example.png
  examples/multi_blade_row_example.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: documentation

updates in prorgess
  examples/multi_blade_row_example.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

updates in progress
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

updates to use read_tginit
  examples/multi_blade_row_example.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Update multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Update multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Update multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

updates in progress
  src/ansys/turbogrid/core/launcher/launcher.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

documentation
  doc/source/api_reference/index.rst
  doc/source/api_reference/multi_blade_row.rst
  doc/source/api_reference/ndf_parser.rst
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: documentation

Update multi_blade_row_example.py
  examples/multi_blade_row_example.py
Labels: none

Update multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Updates to write tginit first and ansys labs
  examples/multi_blade_row_example.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

pre-commit check
  doc/source/_static/multi_blade_row_example.png
  examples/multi_blade_row_example.py
  src/ansys/turbogrid/core/launcher/launcher.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
  src/ansys/turbogrid/core/ndf_parser/ndf_parser.py
Labels: documentation

pre-commit checks
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/report_template.html
  src/ansys/turbogrid/core/multi_blade_row/summary_template.html
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

Update pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

vale check corrections
  doc/styles/Vocab/ANSYS/accept.txt
  examples/multi_blade_row_example.py
Labels: none

Review changes
  examples/multi_blade_row_example.py
  src/ansys/turbogrid/core/launcher/launcher.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/summary_template.html
  src/ansys/turbogrid/core/ndf_parser/ndf_parser.py
Labels: none

Review changes
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

pre-commit check
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
Labels: none

Update multi_blade_row_example.py
  examples/multi_blade_row_example.py
Labels: none
