Repository ansys/pyturbogrid, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

CI: Add public release actions
  .github/workflows/ci.yml
Labels: maintenance

CI: Add doc build
  .github/workflows/ci.yml
  doc/Makefile
  doc/make.bat
Labels: maintenance

CI: change the workflow name
  .github/workflows/ci.yml
Labels: maintenance

CI: change the build library suing ansys-actions
  .github/workflows/ci.yml
Labels: maintenance

CI: change the package name variable
  .github/workflows/ci.yml
Labels: maintenance

CI: add public release workflow (#62)
  .github/workflows/ci.yml
  doc/Makefile
  doc/make.bat
Labels: maintenance

Edits to PyTurboGrid files
  README.rst
  doc/source/api_reference/index.rst
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/README.rst
  examples/mesh_gen/README.rst
  examples/mesh_gen/basic_read_inf_rotor37.py
  examples/mesh_stats_reports/README.rst
  examples/mesh_stats_reports/mesh_statistics_report.py
  src/ansys/turbogrid/core/launcher/launcher.py
  src/ansys/turbogrid/core/mesh_statistics/mesh_statistics.py
Labels: documentation

fixes from pre-commit
  doc/styles/Vocab/ANSYS/accept.txt
  examples/mesh_gen/basic_read_inf_rotor37.py
  src/ansys/turbogrid/core/mesh_statistics/mesh_statistics.py
Labels: none

Address doc build issues
  examples/mesh_stats_reports/mesh_statistics_report.py
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: none

try to resolve doc build issues yet again
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: none

edits to launcher.py to try to resolve doc building issue
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: none

DEBUG: Path variable
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: none

DEBUG: use raw string literals
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: none

Edits based on last rendered doc
  README.rst
  doc/source/index.rst
  examples/mesh_gen/README.rst
  examples/mesh_gen/basic_read_inf_rotor37.py
  examples/mesh_stats_reports/README.rst
  examples/mesh_stats_reports/mesh_statistics_report.py
  src/ansys/turbogrid/core/launcher/launcher.py
  src/ansys/turbogrid/core/mesh_statistics/mesh_statistics.py
Labels: documentation

Fix typo
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: none

Order parameters to match method signature
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: none

Fix basic mesh generation example
  examples/mesh_gen/basic_read_inf_rotor37.py
Labels: none

Incorporate feedback from dev review
  README.rst
  examples/README.rst
  examples/basic_read_inf_rotor37.py
  examples/mesh_gen/README.rst
  examples/mesh_statistics_report.py
  examples/mesh_stats_reports/README.rst
  src/ansys/turbogrid/core/launcher/launcher.py
  src/ansys/turbogrid/core/mesh_statistics/mesh_statistics.py
Labels: none

Fix paths for images
  examples/basic_read_inf_rotor37.py
  examples/mesh_statistics_report.py
Labels: none

Edit text to see if commit is pushed
  examples/basic_read_inf_rotor37.py
  examples/mesh_statistics_report.py
Labels: none

Fix broken HTML link
  README.rst
Labels: none

Fix spacing error in HTML link
  README.rst
Labels: none

Fix another broken link
  doc/source/contributing.rst
Labels: documentation

Try again to fix broken link
  doc/source/contributing.rst
Labels: documentation

Ignore inaccessible link
  doc/source/conf.py
Labels: documentation

Update mesh_statistics.py
  src/ansys/turbogrid/core/mesh_statistics/mesh_statistics.py
Labels: none

Doc/overall doc review (#63)
  README.rst
  doc/source/api_reference/index.rst
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/README.rst
  examples/basic_read_inf_rotor37.py
  examples/mesh_statistics_report.py
  src/ansys/turbogrid/core/launcher/launcher.py
  src/ansys/turbogrid/core/mesh_statistics/mesh_statistics.py
Labels: documentation

Update basic_read_inf_rotor37.py
  examples/basic_read_inf_rotor37.py
Labels: none

fix: examples
  doc/make.bat
  examples/basic_read_inf_rotor37.py
  examples/mesh_statistics_report.py
Labels: none

feat: looks like Sphinx comments don't work properly
  examples/basic_read_inf_rotor37.py
  examples/mesh_statistics_report.py
Labels: none

fix: fixing build errors
  doc/source/api_reference/mesh_statistics.rst
Labels: documentation

fix: examples (#65)
  doc/make.bat
  doc/source/api_reference/mesh_statistics.rst
  examples/basic_read_inf_rotor37.py
  examples/mesh_statistics_report.py
Labels: documentation

Make type hints compatible with python 3.8 and 3.9
  pyproject.toml
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: maintenance, dependencies

Make type hints compatible with python 3.8 and 3.9 (#66)
  pyproject.toml
  src/ansys/turbogrid/core/launcher/launcher.py
Labels: maintenance, dependencies

Update version to 0.3.dev0
  pyproject.toml
Labels: maintenance, dependencies

Update version to 0.3.dev0 (#67)
  pyproject.toml
Labels: maintenance, dependencies

Import fixes for new path and launcher
  examples/mesh_statistics_report.py
  src/ansys/turbogrid/core/__init__.py
Labels: none

Import fixes for new path and launcher (#68)
  examples/mesh_statistics_report.py
  src/ansys/turbogrid/core/__init__.py
Labels: none

Adjust classifiers and dependencies
  pyproject.toml
Labels: maintenance, dependencies

adjust dependency
  pyproject.toml
Labels: maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
dependencies:
- pyproject.toml
testing:
- tests/*
