Repository ansys/pyturbogrid, pull requests merged in 2024-01, with the labels that each got.

#79 Add ndf parser and multi blade row modules with an example
  doc/source/api_reference/index.rst
  doc/source/api_reference/multi_blade_row.rst
  doc/source/api_reference/ndf_parser.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/multi_blade_row_example.py
  pyproject.toml
  src/ansys/turbogrid/core/launcher/launcher.py
  src/ansys/turbogrid/core/multi_blade_row/__init__.py
  src/ansys/turbogrid/core/multi_blade_row/multi_blade_row.py
  src/ansys/turbogrid/core/multi_blade_row/report_template.html
  src/ansys/turbogrid/core/multi_blade_row/summary_template.html
  src/ansys/turbogrid/core/ndf_parser/__init__.py
  src/ansys/turbogrid/core/ndf_parser/ndf_parser.py
Labels: documentation, dependencies, maintenance

#82 Update dependabot.yml with and without registries
  .github/dependabot.yml
Labels: maintenance

#83 fix: remove dependabot registry
  .github/dependabot.yml
Labels: bug, maintenance

#84 fix: dependabot changes
  .github/dependabot.yml
Labels: bug, maintenance

#85 Fix: remove poetry options from the toml file
  pyproject.toml
Labels: bug, dependencies, maintenance

#81 Upgrade ansys sphinx
  pyproject.toml
Labels: dependencies, maintenance

#93 Upgrade Sphinx to 7.2.6
  pyproject.toml
Labels: dependencies, maintenance

#99 Acohen/unit tests
  .github/workflows/ci.yml
  .gitignore
  src/ansys/turbogrid/core/__init__.py
  tests/DeployTGContainer.py
  tests/conftest.py
  tests/test_mesh_statistics.py
Labels: maintenance, testing
